 table {
    width: 100%;
    border-collapse: collapse;
   }
   td, th {
    padding: 1px;
    border: 1px solid #000080;
   }
   th {
    background: #000080;
    color: #ffe;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
   }
   h1{
    text-align: center;
   }
   body{
       background: rgba(114, 255, 252, 0.31);
   }
    input{
        background-color:#000080;
        border:1px solid #000000;
        display:inline-block;
        cursor:pointer;
        color: rgba(255, 255, 255, 1);
        font-family:Arial;
        font-size:15px;
        padding:4px 7px;
    }
 .datagrid table {
     border-collapse: collapse;
     text-align: left;
     width: 100%;
 } .datagrid {
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        background: #fff;
        overflow: hidden;
        border: 1px solid #006699;
    }.datagrid table td, .datagrid table th {
             padding: 4px 10px;
    }.datagrid table thead th {
             background:-webkit-gradient(
                     linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
                  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
                  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
                  background-color:#006699;
                  color:#FFFFFF;
                  font-size: 12px;
                  font-weight: bold;
                  border-left: 1px solid #0070A8;
              } .datagrid table thead th:first-child {
                                  border: none;
                              }.datagrid table tbody td {
                                                                 color: #00557F;
                                                                 border-left: 1px solid #E1EEF4;
                                                                 font-size: 12px;
                                                                 font-weight: normal;
                                                             }.datagrid table tbody .alt td {
                                                                                                                               background: #E1EEf4;
                                                                                                                               color: #00557F;
                                                                                                                           }
